/*général*/

* {
   margin: 0;
   padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size:medium;
    padding:2%;
    margin:0.5%;
    border: 1px  #000000 solid;
    

}

p{
    font-size: 2em;
    font-weight: 300;
 }

/*Modal*/
.modal {
    display: none; /* Hidden by default */
    position:fixed; /* Stay in place */
    z-index: 1;  /*Sit on top */
    padding-top: 0.5em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    overflow: auto; /* Enable scroll if needed */
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    font-family: 'Oswald', sans-serif;
    border: 6px  #000000 solid;
  }
  
 .modal-content h1{
    font-size: 6em;
    font-weight: 600;
 }

 .modal-content h2{
    font-size: 2em;
    font-weight: 600;
 }

 .modal-content h3{
    margin-top: 5%;
    font-size: 2em;
    font-weight: 400;
 }

 

 .modal-content section{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    
 }

.modal-content .image-resp1{
    display: block;
    padding:0;
    margin:0;
    justify-content: right;
    max-width: 20em;
    height: auto;
}

.modal-content .resume{
    margin-top: 5%;
}


.modal-content .pos{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto; 
}

.modal-content .croix{
    font-size: 4.5em;
    font-weight: 500;
    color: #FA0B0B;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    text-align:end;
    margin-bottom: -0.2em;

}
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

a {
    color: #ffffff;
    text-decoration: none;
}


/*En-tête*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #61787F;
    border: 1px #000000 solid;
    padding: 20px 40px;
}

.logo{
    display:inline-block;
    text-align:right;
    object-fit: cover;
    height: 100%;
}

header h1 {
    font-size: 5em;
    font-weight: 300;
    color: #ffffff;
    padding-left: 70px;
}

/*corps de la page*/
main h1{
    font-size: 600%;
    height: auto;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 5%;

}

.bouton{
    font-size: 200%;
    font-weight: 200;
    background-color: #FA0B0B;
    border-radius: 1em;
    border: currentColor;
    color : #ffffff;
    text-align: center;
    padding: 0.5em;
}

/*Meilleur film*/
.best-film{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1em;
    background-color: #ffffff;
    border: 6px #000000 solid;
    gap:0.5em;
    position:relative;
}

.best-film .image-best{
    align-content:center;
    justify-content: center;
    width: 100%;
}

.best-film img{
    width: auto;
    height: 30em;
    margin:auto;
}

.content{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;
    gap:1em;
}

.best-film button{
    align-self: flex-end;
    margin-right: 1em;
    padding:1em 1.5em;
}

.category1-2-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5em;
}

.film1-2-3{
   position: relative;
}

/*Catégories 1, 2 et 3*/
.category1-2-3 img{
    width: 32em;
    height:32em;
    overflow: hidden;
    object-fit: cover;
}

.bandeau{
    position: absolute;
    width: 100%;
    top:25%;
    padding-bottom: 0.5em;
    background-color: rgba(0,0,1,0.2);
    left:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

.bandeau h2{
    font-size: 3em;
    height: auto;
    font-weight: 600;
    color: #ffffff;
    padding-top: 0.2em;
    padding-left: 0.5em; 
    opacity: 1;
}

.bandeau button{
    margin-left: 70%;
    background-color: #2D2C2C;
    padding-bottom: 0.5em;
    opacity: 1;
}

.fond-bandeau{
    background-color: #000000;
    position: absolute;
    width: 100%;
    top:25%;
    left:auto;
    opacity: 0.2;
}

/*Catégories 4 et 5*/
select{
    font-size: 20em;
}

#choix1, #choix2{
    border: 0.05em #000000 solid;
    font-size: 0.8em;
    font-weight: 600;
    width: 7.7em;
    margin-bottom: 0.8em;
    padding-left: 0.5em;
    
}

.suite{
    visibility:hidden;
}

.pos{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto; 
    
}

/*>1025px*/
@media screen and (min-width: 1025px) {

    .modal-content .croix, .modal-content .image-resp2{
        display: none;
    }
}


@media screen and (max-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
     }
    header h1, main h1{
        font-size: 3.5em;
    }
    .best-film{
        gap:0em;
    }
    .bouton{
        margin-top: -0.5sem;
    }
    .suite{
        visibility:visible;
    }

    .category-autre2{
        display:none;
    }

    #cat1-4, #cat1-5{
        display:none;
    }

    .film1-2-3{
        width:100%;
        height: auto;

    }
}

/*Pour la popup*/
@media screen and (max-width: 1024px) {
    .modal-content h1{
        font-size:3.5em;
    }
    .box{
        display:block;
    }
    .image-resp1, .modal-content button{
        display:none;
    }
    .modal-content .croix, .modal-content .image-resp2{
        display: inline-block;
    }
    
}

@media screen and (max-width: 960px) {
    * {
        margin: 0;
        padding: 0;
     }
    body{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin:0;
        border:none;
        
        
    }
    header{
        width:100%;
        height: auto;
        background-color: #61787F;
        justify-content: center;    
    }

    header .logo{
        width:100%;
        height: auto;
        text-align: center;
    }
    header h1{
        display:none;
        /*font-size:300%;
        white-space:nowrap;
        padding-left: 0;*/
        
    }
    .best-film{
        display:inline-block;
        margin: auto;
        padding: auto;
        width:100%;
        height: auto;
        
    }
    .best-film .image-best{
        display:block;
        justify-content: center;

    }

    .film1-2-3, .best-film, .bandeau{
        margin: 0;
        padding: 0;
        width:100%;
        height: auto;

    }

    #cat1-3, #cat1-4{
        display:none;
    }

}









